.AppHeaderLogo{
    float: left;
    margin-top: 15px;
    height: 45px;
}

.Menu{
    float:right;
    background-color: rgba(0,0,0,0) !important;
    border-bottom: none !important;
    /*color: #FFFFFF !important;*/
    margin-left: 20px !important;
    margin-top: 6px !important;
}

.MenuItem{
    width: 150px;
    text-align: center;
    font-size: 18px;
}